.nav-item {
  padding: 10px;
  font-weight: bold;
  font-family: Poppins;
  color: white;
}

.nav-item:hover {
  background-color: white;
  color: #D81159;
  border-radius: 10px 10px 10px 10px;
}

.current {
  padding: 10px;
  font-family: Poppins;
  background-color: #ED1D69;
  color: white;
  border: solid 1px white;
  border-radius: 10px;
}

.current:hover {
  background-color: white;
  color: #D81159;
  border-radius: 10px 10px 10px 10px;
}



.navbar-main {
  padding: 20px;
  color: white;
  min-height: 10vh;
}

.navbar-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: #D81159;
  position: sticky;
  top: 0; 
  width: 100%; 
  z-index: 1;
}
